%h2.collapsebottom.roman Welcome, student.
%p Okapi is an easy, convenient way to pay your monthly tuition.
.group
	.left.col1of2
		.well
			%h4.txt-center Make a one time payment.
			%p User your debit or credit card to make a one time payment in any amount.
	.left.col1of2
		.well
			%h4.txt-center Set up automatic payments.
			%p We'll automatically charge your card on the day your tuition is due each month. Cancel anytime.
.mod.well
	%p.txt-center You'll need an invite to sign up for the tuition gateway.
