<h1>Hi there,</h1>
<p>You've successfully made a payment to Okapi for <%= number_to_currency( @single_charge.amount ) %>.</p>
<p>If you have questions, please send an email to foo@example.com.</p>
<p>Thanks!</p>
