<h1>OKAPI ADMIN NOTIFICATION</h1>
<p>Unfortunately we weren't able to process a subscription payment.</p>
<h3>Details:</h3>
<p>
  <strong>Student:</strong><%= @student.name %> (<%= @student.email %>)<br />
  <strong>Plan:</strong><%= @plan.name %><br />
</p>
