<h1>Hi <%= @student.name %>,</h1>
<p>You've successfully canceled your subscription to the <%= @plan.name %> plan and you'll no longer be charged.</p>
<p>If you have questions, please send an email to foo@example.com.</p>
<p>Thanks!</p>
