<h1>Hi <%= @student.name %>,</h1>
<p>Just a friendly reminder that tomorrow your card will be charged <%= number_to_currency(@plan.amount) %> for <%= @plan.name %> tuition.</p>
<p>If you have questions, please send an email to foo@example.com.</p>
<p>Thanks!</p>
